<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="google.proj" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".idan" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".rec_list" android:label="screen of lists">
		</activity>
		<activity android:name=".rec_view" android:label="screen of single list">
		</activity>
		<activity android:name="compute_receipt" android:label="screen of compute_receipt">
		</activity>
		<activity android:name="statistics" android:label="screen of payments statistics">
		</activity>
		<activity android:name="listview" android:label="Receipts">
		</activity>
		<activity android:name="bigPic" android:label="Receipt image">
		</activity>

	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 